Body {
  background-color: black;
  height: 100%;
}
.App {
  background-color: black;
  height: 100vh;
}
.rules {
  font-weight: bold;
}
.preset {
  width: 50%;
}
h1 {
  color: white; /* Fallback: assume this color ON TOP of image */
  background: url("./assets/space.png") no-repeat;
  font-family: "Press Start 2P", cursive;
  font-family: "Suez One", serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
